body,div,p,footer,dl,dd,dt,h1,h2,h3,h4,h5,h6,img,a,ul,li,ol{
	margin:0px;
	padding:0px;
	font-family:MS Serif4, New York6, serif;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
			
body {
	margin: 0px;
	background-image:url("/web/image/utility/woodbackground.jpg");
	background-repeat: repeat;
	background-position:left top;
}

a {
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}

div {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

div p {
	opacity:1.0;
	filter: alpha(opacity=100);
}

footer {
	opacity:0.60;
	filter: alpha(opacity=60);
	position:absolute;
	left:0;
	right:0;
	position:fixed;
	bottom:0;
	border-top: 2px solid #111111;
	background-color:#FFEECD;
	margin:5px 0px 0px 0px;
	padding:5px 2px 2px 2px;
	font-style:italic;
	font-size:90%;
	display:inline
}

.mainWrapper {
	width:90%;
	min-width:680px;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	font-size:18pt;
	font-weight:bold;
	padding: 5px;
}

h1:after {
    content:' ';
	display:block;
	border: 1px dashed #000000;
	margin: 0px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.mainHeader {
	background-color:rgba(232,180,153,0.7);
	padding:2px 4px;
	margin-top:5px;
	margin-bottom:2px;
	height:60px;
}

.mainHeader * {
	background-color:rgba(0,0,0,0);
}

.logoHeader {
	position:absolute;
	width:70%;
	margin-left:0px;
}

.center {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#companyName {
	font-size:24pt;
	font-weight:bold;
	min-width:350px;
}

a:link, a:visited {
	color:#662929;
	text-decoration:none;
	font-weight:bold;
}

a:hover, a:active {
	color:#8AF6F8;
	text-decoration:none;
	font-weight:bold;
}

.loginCart {
	position:relative;
	right:0;
	height:60px;
	float:right;
	width:30%;
	text-align:right;
	font-size:70%;
	vertical-align:text-top;
}

.loginCart p {
	padding: 3px;
}

.loginCart a:hover, .loginCart a:active {
	color:#FFFFFF;
}

.mainNavigation {
	height:35px;
	background-color:rgba(232,180,153,0.7);
	margin-bottom:10px;
	border-bottom:1px solid #000000;
	padding:2px 4px;
}

.mainNavigation ul {
	display:inline;
	list-style:none;
}

.mainNavigation ul li {
	display:inline;
	vertical-align:center;
	line-height:35px;
	padding: 2px;
}

.mainNavigation ul li a:link, .mainNavigation ul li a:visited {
	font-size: 18pt;
	font-weight: bold;
	padding:0px 30px 0px 0px;
}

.contentBlock {
	background-color:rgba(232,180,153,0.7);
}

img {
	/*width:55%;
	height:500px; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.contentBlock {
	margin-bottom: 40px;
	min-height:550px;
	overflow:hidden;
}

.sideBar {
	float: left;
	margin-right: -60px;
	margin-bottom: 40px;
}

.sideBarRight {
	float: right;
	margin-left: -60px;
	margin-bottom: 40px;
}



#homePage .contentBlock {
	margin-left: 200px;
}

#homeSideBar {
	background-color:rgba(232,180,153,0.7);
	min-height: 1000px;
	padding: 3px;
}

#homeSideBar ul {
	list-style-type:  none;
	width: 175px;
	padding: 1px 5px 5px;
}

#homeSideBar ul li {
	font-size: 16pt;
	padding:10px 5px 10px 5px;
}

#welcomeDiv {
	background-image: url("/web/image/picnictable2.jpg");
	background-position: left top;
	background-size: cover;
	min-height: 150px;
	height: 380px;
	margin-bottom: 10px;
	padding: 2px;
}

#welcomeBlock {
	background-image: url("/web/image/utility/paperbackground.jpg");
	position: relative;
	top: 5px;
	right: 5px;
	bottom: 5px;
	float: right;
	width: 40%;
	margin: 0px auto 0px auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border: 2px dotted #663300;
	vertical-align: bottom;
}

#welcomeBlock p {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

#welcomeLabel {
	float: inherited;
	font-weight: bold;
	font-size:125%;
}

#welcomeText {
	padding:15px 15px 5px 15px;
	position:relative;
	left:0;
	top:0;
}

#signature {
	font-family: 'Tangerine', Comic Sans, serif;
	font-weight:bold;
	font-size:125%;
	text-align: right
}

#jobTitle {
	font-family: Calibri, Comic Sans, serif;
	text-align: right;
	font-size:85%;
}

#welcomeImage {
	position: relative;
	left: 0;
	height: 100%;
	width: 65%;
}

#topSellers {
	height: 603px;
	padding: 4px;
}

#topSellers h2 {
	text-align: center;
}

#topSellers hr {
	border: 1px dashed #000000;
}

#aboutPage .sideBar img {
	width: 175px;
	height: 1000px;
}

#aboutPage .contentBlock {
	margin-left: 200px;
	min-height: 1000px;
}

#aboutPageTitle {
	padding: 5px;
}

#aboutOpening {
	margin: 5px 5px 0px 15px;
}

#aboutImgOne {
	top:0;
	bottom:0;
	position:relative;
	float:right;
	width:35%;
	min-width: 300px;
	max-width: 420px;
	height:100%;
	max-height:200px;
	margin-right: 10px;
	padding-left: 5px;
}

#aboutImgTwo {
	height:200px;
	width:25%;
	position: relative;
	float: right;
	border: 5px solid #FFFFFF; /* This line should be removed when an image is added */
}

/* #aboutPage .contentBlock h1 {
	font-size:18pt;
	font-weight:bold;
}
 */
#aboutPage .contentBlock h4 {
	font-size:10pt;
	font-style:italic;
	margin:0;
	padding:0 0 0 25px;
}

/* #aboutPage .contentBlock h1, */ #aboutPage .contentBlock h4, #aboutPage .contentBlock hr {
	color: #000000;
}

#aboutPage hr {
	border: 1px dashed #000000;
}

#aboutPage h5 {
	margin-left:10px;
	font-size: 125%;
	clear: right;
}

#aboutPage .contentBlock * {
	font-size:110%;
	font-family:Calibri, serif;
	color: #000000;
}

#aboutPage .contentBlock ol {
	list-style:none;
	margin-left: 105px;
	/*list-style-image: ehhhhhh */
}

#aboutPage .contentBlock ul strong {
	font-size: 150%;
	font-weight: bold;
	color: #005A5A;
}

#aboutPage .contentBlock ul p {
	margin-left:20px;
	font-size:85%;
	margin-right: 20%;
}

#lastModified {
	clear: both;
	margin-bottom:30px;
	position: relative;
	text-align:right;
	margin-right: 2px;
	font-size: 55%;
	color: #B4D2D6;
	font-style: italic;
}

#contactPage h1 {
	text-align: center;
}

#contactPage .sideBarRight img {
	width: 175px;
	height: 1000px;
}

#contactPage .contentBlock {
	margin-right: 200px;
	min-height: 1000px;
}

#contactPage .contentBlock h2 {
	text-align: center;
}

#contactInfo {
	padding: 50px 0;
}

#contactInfo * {
	text-align: center;
	font-family: Helvetica, Times Roman, serif;
	font-size: 16pt;
}

#contactInfo h3 {
	font-size: 20pt;
}

#contactInfo hr {
	border: 1px solid #666666;
	width: 65%;
	text-align: center;
	margin: 15px auto;
}

#galleryPage img  {
	width: 200px;
	height: 300px;
	display: inline;
	margin: 5px;
	padding: 0;
}

#galleryPage .contentBlock p  {
	padding: 0 0 0 15px;
}
